.gauge_circle {
    --transition-length: 1s;
    --transition-step: 200ms;
    --delay: 0s;
    --percent-to-deg: 3.6deg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translateZ(0);
}

.gauge_animate .gauge_content {
    animation: fadeIn var(--transition-length) ease forwards;
    animation-delay: var(--delay);
}

@keyframes fadeIn {
    to {
        opacity: 1
    }
}